<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337246623306-v7ak5acm9vkc2bp2956soh7cfsp3phlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337246623306-v7ak5acm9vkc2bp2956soh7cfsp3phlb</string>
	<key>API_KEY</key>
	<string>AIzaSyDgBnKK8B2e9Sw76whhOxzvKMOWuo-CdM4</string>
	<key>GCM_SENDER_ID</key>
	<string>337246623306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amor.app</string>
	<key>PROJECT_ID</key>
	<string>amor-2246d</string>
	<key>STORAGE_BUCKET</key>
	<string>amor-2246d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337246623306:ios:9ee2da55b6e684da54f8b3</string>
</dict>
</plist>